* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 4vmin;
    color: darkgray;
}


h1 {
    margin: 0 auto;
}
#info {
    width: 110vmin;
    display: flex;
    justify-content: space-between;
}
#player-display {
    display: flex;
    justify-content: center;
}
#cpu-display {
    display: flex;
    justify-content: center;
}
.alpha-nums {
    width: 110vmin;
    display: flex;
    justify-content: space-between;
}
.player-alpha-nums {
    width: 50vmin;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.player-alpha-nums > div {
    display: flex;
}
.cpu-alpha-nums {
    width: 50vmin;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.cpu-alpha-nums {
    display: flex;
}


.board-container {
    width: 110vmin;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}
.player-board {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}
.cpu-board {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}

.cpu-board > div {
    width: 5vmin;
    height: 5vmin;
    border: 0.1px solid;
}
.cpu-board > .carrier{
    background-color: yellow;
}
.cpu-board > .battleship {
    background-color: blueviolet;
}
.cpu-board > .destroyer {
    background-color: chartreuse;
}
.cpu-board > .submarine {
    background-color: brown;
}
.cpu-board > .patrol-boat {
    background-color: firebrick;
}

.player-board > div {
    width: 5vmin;
    height: 5vmin;
    border: 0.1px solid;
}

.ship-container {
    display: flex;
    justify-content: space-between;
    width: 110vmin;
    margin-top: 2vmin;
}

.player-ships {
    width: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.player-ships > .carrier {
    height: 5vmin;
    width: 25vmin;
    margin-bottom: 5px;
    background-color: yellow;
}
.player-ships > .battleship {
    height: 5vmin;
    width: 20vmin;
    margin-bottom: 5px;
    background-color: blueviolet;
}
.player-ships > .destroyer {
    height: 5vmin;
    width: 15vmin;
    margin-bottom: 5px;
    background-color: chartreuse;
}
.player-ships > .submarine {
    height: 5vmin;
    width: 15vmin;
    margin-bottom: 5px;
    background-color: brown;
}
.player-ships > .patrol-boat {
    height: 5vmin;
    width: 10vmin;
    margin-bottom: 5px;
    background-color: firebrick;
}

.cpu-ships {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2vmin;
}

.cpu-ships > #carrier {
    height: 5vmin;
    width: 25vmin;
    margin-bottom: 5px;
    background-color: yellow;
}
.cpu-ships > #battleship {
    height: 5vmin;
    width: 20vmin;
    margin-bottom: 5px;
    background-color: blueviolet;
}
.cpu-ships > #destroyer {
    height: 5vmin;
    width: 15vmin;
    margin-bottom: 5px;
    background-color: chartreuse;
}
.cpu-ships > #submarine {
    height: 5vmin;
    width: 15vmin;
    margin-bottom: 5px;
    background-color: brown;
}
.cpu-ships > #patrol-boat {
    height: 5vmin;
    width: 10vmin;
    margin-bottom: 5px;
    background-color: firebrick;
}